
@model firstproject.Entity.TblUrun

@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("GÜNCELLE", "urun", FormMethod.Post))
<div class="form-group">
    @Html.LabelFor(k => k.UrunID)
    @Html.TextBoxFor(k => k.UrunID, new { @class = "form-control" })

    @Html.LabelFor(k => k.UrunAdı)
    @Html.TextBoxFor(k => k.UrunAdı, new { @class = "form-control" })

    @Html.LabelFor(k => k.BirimID)
    @Html.TextBoxFor(k => k.BirimID, new { @class = "form-control" })

    @Html.LabelFor(k => k.UrunKayitTarih)
    @Html.TextBoxFor(k => k.UrunKayitTarih, new { @class = "form-control" })

    @Html.LabelFor(k => k.KayitBilgisiID)
    @Html.TextBoxFor(k => k.KayitBilgisiID, new { @class = "form-control" })

    @Html.LabelFor(k => k.UrunKodu)
    @Html.TextBoxFor(k => k.UrunKodu, new { @class = "form-control" })

    @Html.LabelFor(k => k.UrunGrubuID)
    @Html.TextBoxFor(k => k.UrunGrubuID, new { @class = "form-control" })


    <div>
        <button class="btn btn-warning">ÜRÜN GÜNCELLE</button>


    </div>





</div>
